:root {
  --highlight: rgb(0, 0, 0);
  --dark: #eaeaea;
  --medDark: #fff;
  --med: #cfcfcf;
  --medLight: #d1d1d1;
  --light: #b3b3b3;
  --highlight1: #12a5b1;
  --highlight2: #203960;
}

.numbers {
  display: flex;
  gap: 50px;
  margin: 0;
  align-items: center;
  z-index: 1;
}
#percentNum {
  position: absolute;
  left: 15px;
  top: 40%;
}
.countdown {
  border: 5px solid #65c3a2;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
}
#progressBar {
  background-color: #bde7d8;
  /* width: var(--progress); */
  left: 15px;
  height: 100%;
  position: absolute;
  margin: -15px;
  /* z-index: /; */
  border-radius: 10px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #141414;
}

h2 {
  font-size: 4rem;
  margin: 0;
  background: -webkit-linear-gradient(#85e2aa, #4f9a80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  margin: 0;
  z-index: 1;
}
h1 {
  margin: 10px;
  z-index: 1;

  /* text-shadow: #00000097 2px 2px 2px; */
}
