ul[data-v-cd18ce17]{list-style-type:none;margin:0;padding:0 .5rem}.heroContainer[data-v-bfa86269]{margin-top:5rem}img[data-v-bfa86269]{border-radius:2rem;height:10rem;-o-object-fit:cover;object-fit:cover;width:10rem}
