:root {
  --bg-1: #121212;

  --text-1: #fff;
  --text-2: #c1c1c1;
  --text-link: #c3e0ff;

  --radius: 7px;
  --shadow: 0 0 5px 2px #fff;
  --outline: 1px solid #fff;
  --outline-thick: 2px solid #fff;

  /* changes the number of columns on the porfolio page */
  --columns: 1;
}
html {
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-1);
  color: var(--text-1);
  font-family: monospace;
  margin: 0;
  padding: 0;
}

.text2 {
  color: var(--text-2);
}
.textSmall {
  font-size: 0.9em;
}

.marginArea {
  margin: auto 25%;
}
.topMarginArea {
  margin-top: 5rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.preferFlexRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.stronglyPreferFlexRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 850px) {
  .preferFlexRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .stronglyPreferFlexRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .marginArea {
    margin: auto 5%;
    min-width: 300px;
  }
  .topMarginArea {
    margin-top: 1rem;
  }
}

a {
  text-decoration: underline;
  color: var(--text-link);
}
.bareLink {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0.5rem 0;
}
